{% extends 'admin/admin_index.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
	    	<div class="panel panel-primary" style="width: 600px">
		    	<div class="panel-heading">
                    <h3 class="modal-title">學員資料</h3>
                </div>
                <div  class="panel-body form-horizontal" style="font-size: large">
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;學員姓名:</label>
                        <p style="display: inline">{{ student_dict['name'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;身份證號:</label>
                        <p style="display: inline">{{ student_dict['iden'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;手機號碼:</label>
                        <p style="display: inline">{{ student_dict['telephone'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;座機號碼:</label>
                        <p style="display: inline">{{ student_dict['phone'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;出生日期:</label>
                        <p style="display: inline">{{ student_dict['birth_y'] }}</p>
                        <p style="display: inline">年</p>
                        <p style="display: inline">{{ student_dict['birth_m'] }}</p>
                        <p style="display: inline">月</p>
                        <p style="display: inline">{{ student_dict['birth_d'] }}</p>
                        <p style="display: inline">日</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;學員住址:</label>
                        <p style="display: inline">{{ student_dict['address'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;緊急聯絡人姓名:</label>
                        <p style="display: inline">{{ student_dict['em_name'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;緊急聯絡人手機:</label>
                        <p style="display: inline">{{ student_dict['em_tel'] }}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label userAcc">&emsp;&emsp;緊急聯絡人座機:</label>
                        <p style="display: inline">{{ student_dict['em_phone'] }}</p>
                    </div>
                    {% if courselist %}
                        <div class="form-group">
                            <label class="control-label userAcc">&emsp;&emsp;學習的課程:</label>
                            <div class="container" style="width: 550px">
                            {% for each in courselist %}
                                <p style="display: inline">{{ each }}；</p>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a class="pull-right btn btn-primary" href="/admin/search_student">返回</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}